.inputAbvs, .inputGravities {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.userInputBeerOneAbv {
    margin-left: 5px;
}

.userInputBeerOneGravity {
    margin-left: 8px;
}

.submitButton {
    margin-top: 5px;
}

h1 {
    text-align: center;
}

.blendCalculator {
    background-color: #7395AE;
    padding: 40px;
    border-radius: 20px;
    width: 220px;
}

.inputVolumes {
    display: inline-flex;
}

.userInputBeerVolume {
    width: 32px;
    text-align: center;
}