.App {
  background: linear-gradient(to top, #ffffff 0%, #b1a296 100%);
}

html, body {
  overflow-x: hidden;
}

header {
  z-index: 99;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculatorContainer {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.aboutParagraph {
  display: flex;
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
}

.faqQuestion {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
}

.faqAnswer {
  padding-left: 15%;
  padding-right: 15%;
}