.navBarContainer {
    height: 100px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    color: black;
    justify-content: center;
}

.logo {
    width: 300px;
}

@media only screen and (max-width:500px){
    .logo {
        width: 250px;
    }
}